<script type="text/javascript">
var app ='{CONTROLLER}_{ACTION}_{CF("URL_HTML_FIX")}';
</script>
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="{$assets}/common/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{$assets}/common/js/jquery-1.8.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='{$assets}/aceAdmin_noIframe/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{$assets}/aceAdmin_noIframe/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
  <script src="{$assets}/aceAdmin_noIframe/js/excanvas.min.js"></script>
<![endif]-->
<script src="{$assets}/aceAdmin_noIframe/js/jquery-ui.custom.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.ui.touch-punch.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.easypiechart.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.sparkline.index.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.flot.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.flot.pie.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/jquery.flot.resize.min.js"></script>

<script src="{$assets}/aceAdmin_noIframe/tabs.js"></script>
<!-- ace scripts -->
<script src="{$assets}/aceAdmin_noIframe/js/ace-elements.min.js"></script>
<script src="{$assets}/aceAdmin_noIframe/js/ace.min.js"></script>
<link href="{$assets}/common/bootstrap/bootstrap3-dialog/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="{$assets}/common/bootstrap/bootstrap3-dialog/js/bootstrap-dialog.min.js"></script>
<!--时间控件-->
{if !empty($isdate)} 
<link href="{$assets}/common/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="{$assets}/common/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script charset="utf-8" src="{$assets}/common/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
{/if}
{if !empty($ueditor)}
<script type="text/javascript" charset="utf-8" src="/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor-1.4.3.3/ueditor.all.js"></script>

{/if}

<script src="{$assets}/common/layer3.02/layer.js"></script>
<script src="{$assets}/common/layui/layui.js"></script>

<script src="{$assets}/aceAdmin_noIframe/common.js"></script>
<script src="{$assets}/aceAdmin_noIframe/ajax.js"></script>
{if !empty($isupfile)}
<!--/*图片上传控件-->
<link href="{$assets}/common/css/uploaders.css" rel="stylesheet" type="text/css" />
<script charset="utf-8" src="{$assets}/common/plupload/js/plupload.full.min.js"></script>
<script charset="utf-8" src="{$assets}/common/js/initUploaders.js"></script>
{/if}

