<div id="sidebar" class="sidebar responsive ace-save-state">
	<script type="text/javascript">
        try{
            ace.settings.loadState('sidebar')
            }catch(e){
                }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        {if $sidebarlist}
        {foreach from=$sidebarlist key=k item=val}
        <li class="{if in_array($act, $val['acts'])}active{/if} {if in_array($act, $val['acts']) and !$val['url']}open{/if}" >
            <a data-id="{$val['id']}" _url="{$val['url']}" href="{if $val['url']}{$val['url']} {else}javascript:; {/if}"  {if !$val['url']}class="dropdown-toggle"{/if}>
                <i class="{$val['icon']} menu-icon"></i>
                <span class="menu-text">
                    {$val['title']}
                </span>
                <b class="arrow {if !empty( $val.children)} fa fa-angle-down {/if}"></b>
            </a>
            {if !empty( $val.children)}
			<b class="arrow"></b>
            <ul class="submenu">
            	{foreach from=$val.children key=k item=v}
            	<li {if $act eq $v['url']} class="active"{/if}>
                    <a data-id="{$v['id']}" _url="{$v['url']}" href="{if $v['url']}{$v['url']} {else}javascript:; {/if}" {if !$v['url']}class="dropdown-toggle"{/if}>
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$v['title']}
                        <b class="arrow {if !empty( $v.children)} fa fa-angle-down {/if}"></b>
                    </a>
                    
                    {if !empty( $v.children)}
                    <b class="arrow"></b>
                    <ul class="submenu">
                        {foreach from=$v.children key=k item=va}
                        <li class="">
                            <a data-id="{$va['id']}" _url="{$va['url']}" href="{if $va['url']}{$va['url']} {else}javascript:; {/if}" {if !$va['url']}class="dropdown-toggle"{/if}>
                                <i class="menu-icon fa fa-caret-right"></i>
                                {$va['title']}
                                <b class="arrow {if !empty( $va.children)} fa fa-angle-down {/if}"></b>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>
            {/if}
            
        </li>
	{/foreach}
  	{/if} 
        
        
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>