{include file="public/header.html" jianjie=1}
<body>
    <div class="index">
        {include file="public/nav.html"}
        <!-- 理想历程banner -->
        <div class="course">
            <img src="{$assets}/hzlx/img/course-baner.jpg" alt="">
            <div class="course-banner-titi">
                <span>理想历程</span>
                <label for="">COURSE</label>
            </div>
        </div>
        <!-- 2018 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg1.jpg" alt="">
            <div class="couse2018titi">
                <dd class="couse2018titi-data">2018</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2017 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg2.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2017</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2016 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2016.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2016</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2015 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2015.jpg" alt="">
            <div class="couse2018titi">
                <dd class="couse2018titi-data">2015</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2014 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2014.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2014</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2013 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg2.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2013</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2012 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2016.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2012</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2011 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2015.jpg" alt="">
            <div class="couse2018titi">
                <dd class="couse2018titi-data">2011</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2010 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2014.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2010</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2009 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg2.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2009</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2008 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2016.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2008</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2007 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2015.jpg" alt="">
            <div class="couse2018titi">
                <dd class="couse2018titi-data">2007</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2006 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2014.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2006</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2005 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg1.jpg" alt="">
            <div class="couse2018titi">
                <dd class="couse2018titi-data">2005</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2004 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/courseimg2.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2004</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        <!-- 2003 -->
        <div class="couse2018">
            <img src="{$assets}/hzlx/img/2016.jpg" alt="">
            <div class="couse2018titi cousetiti2017">
                <dd class="couse2018titi-data">2003</dd>
                <dd class="couse2018titi-name1">杭州理想教育培训学校，2003年成立于西子湖畔；</dd>
                <dd class="couse2018titi-name2">
                    <span>杭州理想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                    <span>杭州理 想教育培训学校，2003年成立于西子湖畔；杭州理想教育培训学校，2003年成立于西子湖畔；</span>
                </dd>
            </div>
        </div>
        {include file="public/footer.html"}
    </div>
    {include file="public/footerJs.html" indexjs=1}
</body>

<script>
    $(function () {
        $('.journalism-navcom ul li').hover(function () {
            $(this).children("label").addClass("jouactive").parent().siblings().children("label").removeClass('jouactive'); 
            $(this).addClass('activecolor').siblings().removeClass('activecolor')
            
            var id=$(this).attr('id');
            $('.journalism-com .journalsm-combox').each(function(index,e){
                var name=$(this).attr('name');
                if(id==name){
                    $(this).addClass('joushow').siblings().removeClass('joushow')
                }
            }) 
        }); 
    });
 

</script>

</html>
