{include file="public/header.html"}


		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>


			{include file="public/headtitle.html"}
			<div class="main-content">
				<div class="main-content-inner">
					

					<div class="page-content">


						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal form1" id="formx" role="form" action="{U('archives/add')}" METHOD="post" enctype="multipart/form-data">
                                <input type="hidden" value="{$arid}" name="arid"/>
                                <input type="hidden" value="{formhash()}" name="formhash"/>
                                <input type="hidden" value="{G('typeid')}" name="typeid"/>
                                <input type="hidden" value="{G('stype')}" name="stype"/>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 文章标题 </label>

										<div class="col-sm-5">
											<input type="text" name="data[title]" value="{$data['title']}" id="form-field-1" placeholder="" class="form-control">
                                            
										</div>
									</div>
                                    
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 自定义属性 </label>

										<div class="col-sm-9">
                                                <div class="checkbox">
                                                {foreach from=$flag_arr key=k item=val}
													<label>
														<input name="flag[]" value="{$k}" {if in_array($k,  explode( ',',$data['flag']))} checked="checked" {/if} type="checkbox" class="ace">
														<span class="lbl"> {$val}</span>
													</label>
                                                    {/foreach}
												</div>
                                                
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1-1"> 缩 略 图 </label>

										<div class="col-sm-2">
											<input multiple="" type="file" id="ace_upfile" accept="image/jpg,image/jpeg,image/png,image/bmp"/>
                                            
										</div>
                                        <span class="ace-file-container hide-placeholder selected">
                                        <img src="{$data['thumb']}" style="max-width:135px; max-height:126px"/>
                                        </span>
									</div>
                                    
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 文章主栏目 </label>

										<div class="col-sm-4">
											<select class="form-control" id="form-field-select-1" name="data[typeid]">
                                                {foreach from=$menus key=k item=val}
                                                <option value="{$val['typeid']}" {if $typeid eq $val.typeid} selected="selected" {/if}>{$val['typename']}</option>
                                                {if isset( $val.children)}  
                                                	{foreach from=$val.children key=k item=v}
                                                	<option value="{$v.typeid}" {if $typeid eq $v.typeid} selected="selected" {/if}>&nbsp;&nbsp;┗━{$v['typename']}</option>
                                                      {if isset( $v.children)}
                                                          {foreach from=$v.children key=k item=vo}
                                                          <option value="{$vo.typeid}" {if $typeid eq $vo.typeid} selected="selected" {/if}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┗━{$vo['typename']}</option>
                                                          {/foreach}
                                                      {/if}
                                                    {/foreach}
                                                {/if}
                                                {/foreach}
                            
                                            </select>
										</div>
									</div>
                                    
                                    
                                    {$extend_list}
                                    
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 关键字 </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1" name="data[keywords]" value="{$data['keywords']}" placeholder="" class="col-xs-10 col-sm-6">
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 内容摘要 </label>

										<div class="col-sm-9">
											<textarea class="form-control" name="data[description]" id="form-field-8" style="height:120px" placeholder="">{$data['description']}</textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 权重 </label>

										<div class="col-sm-9">
											<input data-rel="tooltip" type="text" value="{$data['weight']}" name="data[weight]" id="form-field-6" placeholder="" title="" >
											<span class="middle">越大越前</span>
										</div>
									</div>

								
                                    
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 文章内容 </label>

										<div class="col-sm-9">
											<script id="contents" name="contents" type="text/plain">{htmlspecialchars_decode($data['article_body'])}</script>
										</div>
									</div>
                                    
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info post_info" type="button">
												<i class="ace-icon fa fa-check bigger-110"></i>
												提 交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重 置
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html" ueditor=1}
<script type="text/javascript">
    var editor = UE.getEditor('contents',{ initialFrameHeight:650 } );
    var img_data = [];
	///parent.document.getElementById('breadcrumbs').innerHTML = 'ssssss';
    jQuery(function ($) {
		$('.workslistadd').on('click',function(){
			var str = $(this).parent().parent().parent().prop("outerHTML");
			$(this).parent().parent().parent().after($(this).parent().parent().parent().prop("outerHTML"));
			var obj = $(this).parent().parent().parent().next();
			obj.find('.workslistadd').remove();
			obj.find("input[type='text']").val('');
			obj.find("img").css('display', 'none');
		});
		$('#formx').on('change','#changfile',function(e){
			$(this).parent().next().html($(this).val())
		});
		
		$('#formx').on('click','.delworks',function(){
			$(this).parent().parent().parent().remove();
		});
		
		$('.add_but').on('click',function(){
			var str = $(this).parent().parent().parent().prop("outerHTML");
			$(this).parent().parent().parent().after($(this).parent().parent().parent().prop("outerHTML"));
			var obj = $(this).parent().parent().parent().next();
			obj.find('.add_but').remove();
			obj.find("input[type='text']").val('');
		});
		$('#formx').on('click','.del_but',function(){
			$(this).parent().parent().parent().remove();
		});
		
		
		
        $('.post_info').on('click',function () {
            var formData = new FormData($('#formx')[0]);
            for(i=0; i<img_data.length; i++){
                 formData.append('files', img_data[i]);
            }
            $.ajax({
                processData: false,
                contentType: false,
                type: 'POST',
                enctype: 'multipart/form-data',
                dataType: 'json',
                url: "{U('archives/add')}",
                data: formData,
                success: function (data) {
					if(data.status == 1){
						adminJs.msg(data.msg);
						setTimeout('adminJs.goUrl("'+data.url+'")',2000);
					}else{
						adminJs.showAlert(data.msg, 2);
					}
                }, complete: function (XMLHttpRequest, textStatus) {
                }, beforeSend: function () {

                }, error: function () {
                    adminJs.showAlert('服务器异常，请联系管理员', 2);
                    return;
                }
            });
        })
        $('#ace_upfile').ace_file_input({
            style: 'well',
            btn_choose: '请选择图片',
            btn_change: null,
            no_icon: 'ace-icon fa fa-cloud-upload',
            droppable: true,
            thumbnail: 'small',//large | fit
            allowExt: ["jpeg", "jpg", "png", "gif", "bmp"],
            allowMime: ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"]


            //样式二
            /*no_file:'请选择图片',
            btn_choose:'选择',
            btn_change:'修改',
            droppable:false,
            onchange:null,
            thumbnail:'small',//| true | large
            allowExt: ["jpeg", "jpg", "png", "gif", "bmp"],
            allowMime: ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"]*/
            //,icon_remove:null//set null, to hide remove/reset button
            ,before_change:function(files, dropped) {
                for(var i = 0; i < files.length; i++) {
                    img_data.push( files[i])
                    //formData.append('files', files[i]);
                }
				return true;
			}
            /**,before_remove : function() {
						return true;
					}*/
            ,
            preview_error : function(filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }

        }).on('change', function(){
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });

    });
</script>
		
	</body>
</html>
