{include file="public/header.html"}


		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>



			<div class="main-content">
				<div class="main-content-inner">
					

					<div class="page-content">


						<div class="page-header">
							<form action="" method="get" class="form-inline" id="searchForm">
           
                            	<label class="inline">用户名：</label>
                            	<input type="text" class="form-control" name="username" value="{I('username')}"/>
                                
                                <label class="inline">类型：</label>
                                <select name="stype" class="form-control">
                                   <option value="0">全部</option>
                                    {foreach from=$stype key=k item=val}
                                        <option {if $k eq I('stype')}  selected="selected" {/if} value="{$k}">{$val}</option>
                                    {/foreach}
                                </select>
                                
                                
                                <label class="inline">消费时间：</label>
                            	<input type="text" class="form-control" name="addtime" id="startime" readonly value=""/> - 
                                <input type="text" class="form-control " name="endtime" id="endtime" readonly>
                                <button type="button" class="btn btn-purple btn-sm searchForm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
									<tr>
										<th class="center">
											<label class="pos-rel">
												<input type="checkbox"  class="ace check-all">
												<span class="lbl"></span>
											</label>
										</th>
  
										<th>用户名</th>
                                        <th>余额</th>
                                        <th class="hidden-480">类型</th>
                                        <th class="hidden-480">金额</th>
                                        <th class="hidden-480">备注</th>
										<th>时间</th>
									</tr>
									</thead>

									<tbody id="tbody_data" data-name="tbody_data"></tbody>
								</table>
                                <div class="pagin" data-name="pagin" ></div>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html" isdate=1}
<script type="text/javascript">
    jQuery(function ($) {
        $('#startime').datetimepicker({
           format: 'yyyy-mm-dd',//'yyyy-mm-dd hh:ii:ss'
            autoclose: true,
			minView: 30,
			language : 'zh-CN',
			minuteStep:1,
			todayBtn: true,
			startView:2,
			//startDate: new Date() 
        });
		$('#endtime').datetimepicker({
           format: 'yyyy-mm-dd',//'yyyy-mm-dd hh:ii:ss'
            autoclose: true,
			minView: 30,
			language : 'zh-CN',
			minuteStep:1,
			todayBtn: true,
			startView:2,
			//startDate: new Date() 
        });
    });
</script>
</body>
</html>
