{include file="public/header.html"}
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="page-header">
							<form action="" method="get" class="form-inline">
							<label class="inline">宝宝姓名：</label>
							<input type="text" class="form-control" name="name" value="{G('title')}"/>
							<label class="inline">电话：</label>
							<input type="text" class="form-control" name="phone" value="{G('phone')}"/>

							<button type="submit" class="btn btn-purple btn-sm">
								<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
								搜索
							</button>
							</form>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
									<tr>
										<!--                            <th class="center nosort">-->
										<!--                                <label class="pos-rel">-->
										<!--                                    <input type="checkbox" class="ace" />-->
										<!--                                    <span class="lbl"></span>-->
										<!--                                </label>-->
										<!--                            </th>-->
										<th>订单编号</th>
										<th>订单金额</th>
										<th class="">结算金额</th>
										<th class="hidden-480 ">配送费</th>
										<th class="hidden-480 ">盈利</th>
										<th>
											<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
											下单时间
										</th>

									</tr>
									</thead>
								</table>

							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html" dataTable=1}
<script type="text/javascript">
	$(function () {
		Jq_dataTable.columns = [
			{ "data": "payments_id" },
			{ "data": "order_id" },
			{ "data": "uid" },
			{ "data": "amount" },
			{ "data": "trade_no" },
			{ "data": "payway" },
			{ "data": "payments_type" },
			{ "data": "addtime" },
		]
		Jq_dataTable.create_table('{U("finance/index")}',{ });
	});
</script>
</body>
</html>
