{include file="public/header.html"}
	<!-- Content Wrapper. Contains page content -->
    <style>
   .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
    	display:block;
	}
    </style>
  <div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    	<div class="row">
        	<div class="col-md-12">
       
            	<div class="btn-group">
                    <form class="form-inline" id="searchForm" method="get">
                        用户名：
                        <input id="username" class="form-control" name="username" value="" type="text">
                        
                        <button type="button" class="btn btn-primary searchForm">搜索</button>
                    </form>
                </div>
            </div>
        </div>
		
    </section>
    
	<div class="layui-form table_p">
      <table class="layui-table">
        <colgroup>
          <col width="50">
          <col width="150">
          <col width="150">
          <col width="200">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th><input class="check-all" type="checkbox"></th>
            <th>反馈</th>
            <th>用户名</th>
            <th>回复</th>
            <th>反馈时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody id="tbody_data" data-name="tbody_data"></tbody>
       
      </table>
    </div>
    <div class="pagin" data-name="pagin" ></div>
</div>
{include file="public/footerJs.html"}
</body>
</html>
