{include file="public/header.html"}
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="page-header">
                        <button type="button"  class="btn btn-info btn-sm show_dialog" _url="{U('works/typeadd')}">
                        添加
                        </button>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
									<tr>
										<th class="center" style="width:60px">
											<label class="pos-rel">
												<input type="checkbox"  class="ace check-all">
												<span class="lbl"></span>
											</label>
										</th>
										<th>名称</th>
                               
                                        <th class="hidden-480">排序</th>
                						<th>操作</th>
									</tr>
									</thead>

									<tbody>
                                    {foreach from=$data key=k item=val}
									<tr>
										<td class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace ids" name="ids[]" value="{$val.id}">
												<span class="lbl"></span>
											</label>
										</td>
										<td>{$val['name']}</td>
						
										<td class="hidden-480">{$val.sort}</td>
                                        <td>
                                         <a class="green show_dialog" href="javascript:;" _url="{U('works/typeadd',['id'=>$val.id])}" _wh="700,550" title="编辑">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red del" href="javascript:;" _url="{U('works/deltype',['id'=>$val['id'],'token'=>creatToken($val['id'])])}" title="删除">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                        </td>
									</tr>


										{/foreach}
									</tbody>
								</table>
                                <div class="pagin" >{$_page}</div>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html"}

</body>
</html>
