	{include file="public/header.html"}
    {include file="public/left.html"}
    <div class="mod-user-main">
        <div class="mod-nav-bar">
            管理中心&nbsp;&nbsp;&raquo;&raquo;&nbsp;&nbsp;充值
        </div>
        <div class="mod-content">
            <h3 class="title">
                充值
                <div class="fr fs14"><a href="{U('money/list', ['stype'=>1])}">充值记录</a></div>
            </h3>
            <form class="form-horizontal" action="{U('money/pay')}" method="post">
                        <input name="formhash" value="{formhash()}" type="hidden" />
            <table class="mod-table-basic">
                <tr>
                    <td class="title" width="18%"></td>
                    <td class="red">
                        {$setConfig['recharge']}
                    </td>
                    
                </tr>
                
                
                <tr>
                    <td class="title">充值金额：</td>
                    <td>
                        <input type="text" id="moeny" class="form-control" name="moeny" placeholder="最低充值不能低于1元">
                    </td>
                </tr>
                
                <tr>
                    <td class="title"></td>
                    <td>
                        <button type="button" id="submitBtn" class="btn btn-green">提交</button>
                    </td>
                </tr>
            </table>
            </form>
    	</div>
</div>
</div>
{include file="public/footerJs.html"}
<script type="text/javascript">
$(function () {
	$('#submitBtn').on('click',function(){
		if ($('#moeny').val() == '') {
			share.showAlert('请输入金额！',2);
			return;
		}
		if (share.isNum($('#moeny').val())   == '') {
			share.showAlert('输入金额不正确！',2);
			return;
		}
		if ($('#moeny').val()<1) {
			share.showAlert('充值金额不能低于1元！',2);
			return;
		}
		$('.form-horizontal').submit();
		/*var url = '{U("money/pay")}';
		share.showIframe('充值', url,600,800);
		return false;*/
	});
});
</script>
</body>
</html>