<include file="Public/head"/>
<body>
<div class="page-user-center">
    <include file="Public/header"/>
    <include file="Public/sidebar"/>
    <div class="mod-user-main">
        <div class="mod-nav-bar">
            {$task_type}&nbsp;&nbsp;&raquo;&raquo;&nbsp;&nbsp;{$task_type}列表
        </div>
        <div class="mod-content">
            <h3 class="title">
                {$task_type}
                <!--<div class="fr fs14 ml20">
<a class="btn btn-green" href="{:U('Task/taocanBatch')}">批量创建</a>
</div>-->
                <div class="fr fs14">
<a class="btn btn-green" href="{:U('Task/taocanadd')}">创建新任务</a>
</div>
            </h3>
            <div class="pb20">
            <form class="form-inline" action="" method="get">

            标题查询：
            <input id="title"  class="form-control" name="title" type="text" value="{:I('get.title')}">
                <button type="submit" class="btn btn-green">
                   
                    搜索
                </button>
            </form>
			</div>
            <div>
                <div id="page_data">
                    <table class="mod-table-list">
                    <tr>
                    <volist name="show_list" id="vo">
                                          <if condition="empty($vo['hidden']) and empty($vo['showhead'])">
                                          <th style="word-break:break-all; width:{$vo.width}px;">
                                                {$vo.title}
                                          </th>
                                          </if>
                                        </volist>
                                        <th style="width:80px">
                                           操作
                                           </th>
                    </tr>
                    
                    <volist name="tasks" id="task">
                                        <tr>
                                            <volist name="show_list" id="vo">
                                                <if condition="empty($vo['hidden'])  and empty($vo['showhead'])">                
                                                <td style="word-break:break-all; width:{$vo.width}px;">
                                                <if condition="$key eq 'remark'">
                                                <elseif condition="in_array($key,['weixin_no','title'])"/>
                                                	<a href="{$task.url}" target="_blank">
                                                    {$task[$key]}
                                                    </a>
                                                <else />
                                               		{$task[$key]}
                                                </if>
                                                </td>
                                                </if>
                                            </volist>                  
                                          <td>
                                          <div class="hidden-sm hidden-xs action-buttons">
                                              <if condition="in_array($task['status'],[0]) and $task['isclose'] eq 0 and $task['type'] neq 'gaosu'">
                                                    <a title="关闭" val="{:U('Task/close_task',array('status'=>-1,'id'=>$task['oid'],'token'=>creatToken($task['oid'])))}" class="red del" href="javascript:;">
                            关闭
                                                    </a>                                            
                                                        
                                              </if>
                                          </div>
                                          </td>
                                        </tr>
                                    </volist>
                    
                    </table>
                </div>
                
                <div id="pagination" class="mod-pagination">{$_page}</div>
            </div>
            
            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".del").click(function () {
            var url = $(this).attr('val');
			var msg = $(this).attr('title') || '是否要操作？';
			/*bootbox.prompt({
				title: "This is a prompt with a textarea!",
				inputType: 'textarea',
				callback: function (result) {
					console.log(result);
				},
				buttons: {
                    "cancel": {"label": "取消","className": "btn-green"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
			});*/
            bootbox.confirm({
                title: "系统提示",
                message: "是否要"+msg+"该任务?",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消","className": "btn-green"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
		
    })
</script>
</body>
</html>
