{include file="public/header.html"}
{include file="public/left.html"}
    <div class="mod-user-main">
        <div class="mod-nav-bar">
            管理中心&nbsp;&nbsp;»»&nbsp;&nbsp;微信阅读&nbsp;&nbsp;»»&nbsp;&nbsp;新建任务
        </div>
        <div class="mod-content">
            <h3 class="title">
                新建任务
                <div class="fr fs14"><a class="btn btn-green" href="{U('task/task')}">返回任务列表</a></div>
            </h3>
            <form class="form-horizontal" method="post" id="form1" onSubmit="return false">
                        <input name="formhash" value="{formhash()}" type="hidden" />
            <table class="mod-table-basic">
                <tbody><tr>
                    <td class="title" width="100">链接：</td>
                    <td><input id="url" style="width: 800px;" type="text" name="url"></td>
                </tr>
                <tr>
                    <td class="title">阅读来源：</td>
                    <td>
                        <div class="form-group ishide" >
                                 <div>
                                     <label style="font-size:16px; text-align:right; margin-left:8px"> 公众号会话： </label>
                                     <input value="" name="data[gzhh]" placeholder="" type="text">
                                 </div>
                                 <div style="margin-top:8px">
                                     <label style="font-size:16px;  margin-left:8px; text-align:right"> 好友转发： </label>
                                     <input value="" name="data[hyzf]" placeholder="" type="text">
                                 </div>
                                 <div style="margin-top:8px">
                                     <label style="font-size:16px; margin-left:8px; text-align:right"> 朋友圈： </label>
                                     <input value="" name="data[pyq]" placeholder="" type="text">
                                 </div>
                                 <div style="margin-top:8px">
                                     <label style="font-size:16px; margin-left:8px ;text-align:right"> 历史消息： </label>
                                     <input value="" name="data[lsxx]" placeholder="" type="text">
                                 </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td class="title">数量合计：</td>
                    <td>
                        <input id="count" placeholder="" type="text" name="count" readonly>
                        <span class="ml10">数量区间为500-{$setConfig['upnum']}</span>
                    </td>
                </tr>
                <tr>
                    <td class="title">单价：</td>
                    <td><b id="price" class="red">--</b>元/阅读量</td>
                </tr>
                <tr>
                    <td class="title">付款：</td>
                    <td><b id="money" class="red">--</b>元</td>
                </tr>

                <tr>
                    <td class="title">备注：</td>
                    <td><textarea  id="contont" name="contont" class="form-control" placeholder=""  style="width:600px"></textarea></td>
                </tr>
                <tr>
                    <td class="title"></td>
                    <td>
                        <button id="submitBtn" class="btn btn-green">提交</button>
                    </td>
                </tr>
            </tbody></table></form>
        </div>
    </div>
</div>
{include file="public/footerJs.html"}
<script>
	function sumNum(){
		var count = 0;
		$('.ishide input').each(function(i){
			if (/^\d+$/.test($(this).val())) {
				count+=parseInt($(this).val());
			}
		});
		$('#count').val(count);
		calcMoney();
	}
    $(function () {
		$('#url').val('');
		$('#count').val('');
		sumNum();
		$('.ishide input').on('change',function(){
			sumNum();
		});
        $('#submitBtn').on('click',function(){
			var url = $('#url').val();
			var count = parseInt($('#count').val());
			if (url == '') {
				share.showAlert('链接不能为空',2);
				return;
			}
	
			if (count == '') {
				share.showAlert('数量不能为空',2);
				return;
			}
	
			if (!/^\d+$/.test(count)) {
				share.showAlert('数量输入错误',2);
				return;
			}
			if (count<500) {
				share.showAlert('数量合计不能低于500',2);
				return;
			}
			
			if($('#money').html()==0 || $('#money').html()=='--'){
				share.showAlert('付款不能为0',2);
				return;
			}
			$.ajax({
				type:'POST',
				dataType:'json',
				url:'{U('Task/taocanadd')}?t='+(new Date().getTime()),
				data:$('#form1').serialize(),
				success:function(data){
					if(data.status == 1){
						layer.confirm(data.info, {
						  btn: ['确定'],
						  icon: 1,
						}, 
						function(){
							window.location.href = data.url;
						},null
						);
						return;
					}else{
						share.showAlert(data.info,2);
						return false;
					}
				},complete:function(XMLHttpRequest, textStatus){
					$('#submitBtn').attr('disabled',false);
					$('#submitBtn').html('提交');
				},beforeSend:function(){
					$('#submitBtn').attr('disabled',true);
					$('#submitBtn').html('提交中...');
				},error:function(){
					share.showAlert('无效操作!',2);
				}
			});
		});
    });

    function calcMoney() {
        var num = parseInt($('#count').val());
        if (isNaN(num)) {
            num = 0;
        }
		
        var price = parseFloat({$price});
        var money =parseFloat( Math.ceil(num * price * 100) / 100.0);
        $('#price').text('￥' + price);
        $('#money').text('' + money);
    }
</script>
</body>
</html>
