{include file="public/header.html" about=1}

<body>
    <div class="index">
        {include file="public/nav.html"}
        <!-- 精英学员banner -->
        <div class="team-banner">
            <img src="{$assets}/hzlx/img/about.jpg" alt="">
        </div>
        <!-- 品牌与资质 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg1.png" class="abutonavlog">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">QUALIFICATION</span>
                            <span class="abutitinamename">品牌与资质</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">杭州由教育局直管的美术培训学校，保护消费者合法权益。</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        杭州理想教育培训学校，2003年成立于西子湖畔；
                        2013年注册成为杭州家由教育局直管的正规美术培训学校； <br><br>
                        2016年成为杭州家资本入驻的美术培训学校；<br>
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。
                        杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。<br>
                        杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；
                    </div>
                    <div class="aboutpage1-comright">
                        <img src="{$assets}/hzlx/img/abotimg-page1img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- 运营管理 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg2.png" class="abutonavlog abutonavlog2">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">ADMINISTRATION</span>
                            <span class="abutitinamename">运营管理</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">浓厚的学习氛围和艺术氛围，校园文化对学生价值观耳濡目染、潜移默化的熏陶。</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        <img src="{$assets}/hzlx/img/yyimg1.jpg" alt=""> <br>
                        <img src="{$assets}/hzlx/img/yyimg2.jpg" alt="">
                    </div>
                    <div class="aboutpage1-comright">
                        杭州理想教育培训学校，2003年成立于西子湖畔；
                        2013年注册成为杭州家由教育局直管的正规美术培训学校；<br> <br>

                        2016年成为杭州家资本入驻的美术培训学校；<br>
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美
                        杭州理想教育培训学校，2003年成立于西子湖畔；<br> <br>

                        2016年成为杭州家资本入驻的美术培训学校；
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；<br><br>
                        2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美

                    </div>
                </div>
            </div>
        </div>
        <!-- 超强师资 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg3.png" class="abutonavlog abutonavlog3">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">TEACHERS</span>
                            <span class="abutitinamename">超强师资</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">具有教育理念、顶尖专业素质和高文化修养的明星教师团队</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        <img src="{$assets}/hzlx/img/aobtpage3img.jpg" alt="">
                    </div>
                    <div class="aboutpage1-comright">
                        杭州理想教育培训学校，2003年成立于西子湖畔；
                        2013年注册成为杭州家由教育局直管的正规美术培训学校；<br> <br>
                        2016年成为杭州家资本入驻的美术培训学校；<br>
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美
                        杭州理想教育培训学校，2003年成立于西子湖畔；<br> <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- 教学体系 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg4.png" class="abutonavlog abutonavlog4">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">SYSTEM</span>
                            <span class="abutitinamename">教学体系</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">具有教育理念、顶尖专业素质和高文化修养的明星教师团队</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        <img src="{$assets}/hzlx/img/aobtpage3img.jpg" alt="">
                    </div>
                    <div class="aboutpage1-comright">
                        杭州理想教育培训学校，2003年成立于西子湖畔；
                        2013年注册成为杭州家由教育局直管的正规美术培训学校；<br> <br>
                        2016年成为杭州家资本入驻的美术培训学校；<br>
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美
                        杭州理想教育培训学校，2003年成立于西子湖畔；<br> <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- 硬件环境 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg5.png" class="abutonavlog abutonavlog5">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">ENVIRONMENTAL SCIENCE</span>
                            <span class="abutitinamename">硬件环境</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">高规格硬件设施，温馨、干净、舒适的学习环境、保障学生的学习生活和安全。</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        <div class="aboutpage1imgcom1">
                            <a href="#">
                                <p class="abutonavcompage1">投影仪视频教学 <img src="{$assets}/hzlx/img/aboutnavimg.png"
                                        class="aboutnavimg"></p>
                                <img src="{$assets}/hzlx/img/aboutpage5img1.jpg" class="abuimg1">
                                <div class="aboutnavbgtiti">
                                    杭州理想教育培训学校，2003年成立于西子湖畔；
                                    2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                    016年成为杭州第家资本入驻的美术培训学校；
                                    经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                                </div>
                            </a>
                        </div>
                        <div class="aboutpage1imgcom1">
                            <a href="#">
                                <p class="abutonavcompage1">投影仪视频教学 <img src="{$assets}/hzlx/img/aboutnavimg.png"
                                        class="aboutnavimg"></p>
                                <img src="{$assets}/hzlx/img/aboutpage5img1.jpg" class="abuimg1">
                                <div class="aboutnavbgtiti">
                                    杭州理想教育培训学校，2003年成立于西子湖畔；
                                    2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                    016年成为杭州第家资本入驻的美术培训学校；
                                    经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="aboutpage1-comright">
                        <img src="{$assets}/hzlx/img/aboutpage5img2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- 特色班级 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg6.png" class="abutonavlog">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">CLASS TYPE</span>
                            <span class="abutitinamename">特色班级</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">精品小班人制，个性化一对一定制教学方案</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                            </div>
                        </a>
                    </div>
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                            </div>
                        </a>
                    </div>
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                            </div>
                        </a>
                    </div>
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                            </div>
                        </a>
                    </div>
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，
                            </div>
                        </a>
                    </div>
                    <div class="aboutpage1imgcom1">
                        <a href="#">
                            <p class="abutonavcompage1">精品班 <img src="{$assets}/hzlx/img/aboutnavimg.png" class="aboutnavimg"></p>
                            <img src="{$assets}/hzlx/img/aboutbj.png" class="abuimg1">
                            <div class="aboutnavbgtiti">
                                杭州理想教育培训学校，2003年成立于西子湖畔；
                                2013年注册成为杭州家由教育局直管的正规美术培训学校；
                                016年成为杭州第家资本入驻的美术培训学校；
                                经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，

                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 后勤与生活 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg7.png" class="abutonavlog abutonavlog7">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">LIFE</span>
                            <span class="abutitinamename">后勤与生活</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">由浙江大学营养专家指导的高品质饮食搭配、营养、健康、品种丰富</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="abuoupage1img">
                        <div class="abuoupage1imgage1">
                            <img src="{$assets}/hzlx/img/abuotcai.png" alt="">
                            <img src="{$assets}/hzlx/img/aboutmifan.jpg" alt="">
                        </div>
                        <div class="abuoupage1imgage2">
                            <img src="{$assets}/hzlx/img/aboutbaozi.png" alt="">
                        </div>
                        <div class="abuoupage1imgage3">
                            <img src="{$assets}/hzlx/img/aboutchuang.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 优质服务 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg8.png" class="abutonavlog abutonavlog8">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">SERVICE</span>
                            <span class="abutitinamename">优质服务 <label class="abutitinamename8">看病 报考 送考 心理咨询</label></span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">24小时看病就诊服务、专业心理咨询师心理压力疏导、校考校车爱心接送。</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                        杭州理想教育培训学校，2003年成立于西子湖畔；<br>
                        2013年注册成为杭州家由教育局直管的正规美术培训学校；<br><br>

                        2016年成为杭州家资本入驻的美术培训学校；<br>
                        经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。
                        杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州家由教育局直管的正规美术培训学校；2016年成为杭州第一家资本入驻的美术培训学校；
                    </div>
                    <div class="aboutpage1-comright">
                        <div class="youzi-fw">
                            <div class="layui-carousel" id="test1">
                                <div carousel-item>
                                    <div><a href="#"><img src="{$assets}/hzlx/img/zy_banner1.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="{$assets}/hzlx/img/zy_banner1.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="{$assets}/hzlx/img/zy_banner1.jpg" alt=""></a></div>
                                    <div><a href="#"><img src="{$assets}/hzlx/img/zy_banner1.jpg" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 家校互联 -->
        <div class="about-page1">
            <div class="about-page1com">
                <div class="aboutpage1-titi">
                    <div class="abottop">
                        <img src="{$assets}/hzlx/img/aboutimg9.png" class="abutonavlog abutonavlog9">
                        <div class="aboutpage1-titiname">
                            <span class="abutitinamepy">INTERCONNECTION</span>
                            <span class="abutitinamename">家校互联</span>
                        </div>
                    </div>
                    <p class="abutopage1titi1">完整的家校互联沟通方案，举办大家庭教育分享沙龙、家长会，及时沟通和反馈。</p>
                </div>
                <div class="aboutpage1-com">
                    <div class="aboutpage1-comleft">
                       <img src="{$assets}/hzlx/img/jxhlimg.png" alt="">
                    </div>
                    <div class="aboutpage1-comright">
                            杭州理想教育培训学校，2003年成立于西子湖畔；
                            2013年注册成为杭州家由教育局直管的正规美术培训学校；<br><br>
                            
                            2016年成为杭州家资本入驻的美术培训学校；
                            经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，2003年成立于西子湖畔；2013年注册成为杭州第一家由教育局直管的正规美术培训学校；2016年成为杭州家资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影
                            <br><br>
                            杭州理想教育培训学校，2003年成立于西子湖畔；
                            2013年注册成为杭州由教育局直管的正规美术培训学校；
                            016年成为杭州资本入驻的美术培训学校；
                            经过14年的发展成为杭州最正规、最具品牌影响力的美术培训学校。杭州理想教育培训学校，<br><br>
                            
                            2003年成立于西子湖畔；2013年注册成为杭州由教育局直管的正规美术培训学校；2016年成为杭州资本入驻的美术培训学校；经过14年的发展成为杭州最正规、最具品牌影响力的美术培
                        </div>
                </div>
            </div>
        </div>



        {include file="public/footer.html"}
    </div>
</body>
{include file="public/footerJs.html"}

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1',
            width: '100%', //设置容器宽度
            arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
    $('.aboutnavbgtiti').each(function () {
        var maxwidth = 300;
        if ($(this).text().length > maxwidth) {
            $(this).text($(this).text().substring(0, maxwidth));
            $(this).html($(this).html() + "....");
        }
    });

</script>

</html>
