<form class="form-horizontal " role="form" action="{U('Manager/add')}" enctype="multipart/form-data">
<input type="hidden" value="{creatToken($uid)}" name="formhash"/>
	<input type="hidden" value="{$uid}" name="uid"/>

	<!--<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<p class="form-control-static">email@example.com</p>
		</div>
	</div>-->
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-4">
			<input type="text" {if $uid gt 0}  disabled="disabled" {/if} class="form-control" name="user" value="{$data['user']}"/>
		</div>
	</div>

	<div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">用户组</label>
		<div class="col-sm-6">
			<select name="group" class="form-control">
				{if $group}
				{foreach from=$group key=k item=val}
				<option  {if $data['groupid'] eq $val['groupid']}  selected="selected" {/if} value="{$val['groupid']}">{$val['title']}</option>
				{/foreach}
				{/if}
			</select>
		</div>
	</div>

    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">密码</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" placeholder="请输入密码" name="password" value=""/>
		</div>
	</div>
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">重复密码</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" placeholder="再次输入密码" name="password1" value=""/>
		</div>
	</div>
     <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">状态</label>
		<div class="col-sm-8">
			<label>
                <input name="status" class="ace ace-switch ace-switch-5" checked="checked" type="checkbox">
				<span class="lbl" data-lbl="正常&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;锁定"></span>
            </label>
		</div>
	</div>
	
   
</form>

<script type="text/javascript">

uploaders.initUploaders();

</script>