<!-- 底部 -->
<div class="foot">
    <div class="foot-com">
        <dd class="foot-img1"><img src="{$assets}/hzlx/img/dtimg.png" alt=""></dd>
        <dd class="foot-txt1">杭州市富阳区银湖街道龙溪北路407号理想画室</dd>
        <dd class="foot-dhimg"><img src="{$assets}/hzlx/img/dhimg.png" alt=""></dd>
        <dd class="foot-dh1"><span>173-2886-6621</span>苏校长</dd>
        <dd class="foot-dh1"><span>187-6818-4622</span>黄老师</dd>
        <dd class="foot-zd">加入理想战队</dd>
        <dd class="foot-lxfs">
            <img src="{$assets}/hzlx/img/wximg.png" alt="">
            <img src="{$assets}/hzlx/img/qqimg.png" alt="">
            <img src="{$assets}/hzlx/img/wqimg.png" alt="">
            <img src="{$assets}/hzlx/img/xfimg.png" alt="">
        </dd>
    </div>
</div>