<script src="{$assets}/common/js/jquery-2.1.4.min.js"></script>
<script src="{$assets}/common/bootstrap/js/bootstrap.min.js"></script>
<script src="{$assets}/common/layer3.02/layer.js"></script>
<script src="{$assets}/common/layui/layui.js"></script>
<script src="{$assets}/common/js/share.js"></script>
<script src="{$assets}/www/js/ajax.js" type="text/javascript"></script>
<script type="text/javascript">
var app ='{CONTROLLER}_{ACTION}_{F("URL_HTML_FIX")}';
</script>
<script src="{$assets}/www/js/task.js" type="text/javascript"></script>

