{include file="public/header.html"}
<style>
*, *:before, *:after {
  box-sizing:content-box;
}
body{
	background-color:#fff
}
</style>
<div class="main-content">
	<div class="main-content-inner">
    	<div class="page-content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="layui-form" action="{U('User/edit')}">
                <input type="hidden" value="{$uid}" name="uid"/>
                <input type="hidden" value="{formhash()}" name="formhash"/>
                
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="username" readonly="readonly" value="{$data['username']}" required  lay-verify="required"  datatype="s" errormsg="请输入用户名" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">级别</label>
                    <div class="layui-input-inline">
                      <select name="grade" lay-verify="required">
                      {foreach from=$gradelist key=k item=val}
                        <option value="{$k}">{$val}</option>
                        {/foreach}
                      </select>
                    </div>
                  </div>
    
                  <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password" value="" lay-verify="required" placeholder="请输入密码" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">重复密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password1" value=""  lay-verify="required" placeholder="请重复输入密码" class="layui-input">
                    </div>
                  </div>
                  
                  <!--<div class="layui-form-item">
                    <label class="layui-form-label">到期时间</label>
                    <div class="layui-input-inline">
                      <input type="text" id="endtime" name="endtime" value="{if $data['endtime']}{date('Y-m-d H:i:s',$data['endtime'])}{/if}" required datatype="s" errormsg="到期时间"  lay-verify="required"  placeholder="请重复输入密码" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  -->
                  
                  
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户状态</label>
                    <div class="layui-input-inline">
                      <input type="checkbox" name="status" lay-skin="switch" lay-text="正常|锁定"  checked >
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button type="button" class="layui-btn ajaxFrom">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>
                </form>
              <!-- /.box -->
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
      </div>
   </div>
</div>
{include file="public/footerJs.html"}
<script>
//Demo
layui.use(['form','laydate'], function(){
  var form = layui.form;
  var laydate = layui.laydate;
  //国际版
  laydate.render({
    elem: '#endtime'
	,type: 'datetime',
  });
});
</script>
</body>
</html>
