{include file="public/header.html"}
<div class="wrapper">

  
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="row">
      <div class="col-md-12">
      	  <div class="box">
              <div class="box-body ">
              		<form role="form" id="form1" onclick="return false;">
                      <div class="box-body">

                        <div class="form-group">
                            <label>反馈</label>
                            <textarea class="form-control" placeholder="请输入反馈内容！" id="notice" name="notice" rows="5"></textarea>
                          </div>
                      </div>
                      <!-- /.box-body -->
        
                      <div class="box-footer">
                        <button type="button" id="submitBtn" class="btn btn-primary">确定</button>
                      </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
<script type="text/javascript">
var app ='{CONTROLLER}_{ACTION}';
var fix = '{F("URL_HTML_FIX")}';
</script>
<script src="{$assets}/common/js/jquery-2.1.4.min.js"></script>
<script src="{$assets}/common/layer3.02/layer.js"></script>
<script src="{$assets}/common/layui/layui.js"></script>
<script src="{$assets}/common/js/share.js"></script>
<script type="text/javascript">
    $(function () {
		$('#submitBtn').on('click', function(){
			$.ajax({
					type:'POST',
					dataType:'json',
					url:'{U('reply/add')}?t='+(new Date().getTime()),
					data:$('#form1').serialize(),
					success:function(data){
						if(data.status == 1){
							layer.confirm(data.info, {
							  btn: ['确定'],
							  icon: 1,
							}, 
							function(){
								parent.location.href = data.url;
							},null
							);
							return;
						}else{
							share.showAlert(data.info ,2);
							return false;
						}
					},complete:function(XMLHttpRequest, textStatus){
						$('#submitBtn').attr('disabled',false);
						$('#submitBtn').html('提交');
					},beforeSend:function(){
						$('#submitBtn').attr('disabled',true);
						$('#submitBtn').html('提交中...');
					},error:function(){
						share.showAlert('无效操作!' ,1);
					}
				});
		})
	});
</script>
</body>
</html>
