<!-- basic scripts -->
<!--[if !IE]> -->
<script src="{$assets}/aceAdmin/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{$assets}/aceAdmin/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='{$assets}/aceAdmin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{$assets}/aceAdmin/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
  <script src="{$assets}/aceAdmin/js/excanvas.min.js"></script>
<![endif]-->

<script src="{$assets}/aceAdmin/js/jquery-ui.custom.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.ui.touch-punch.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.easypiechart.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.sparkline.index.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.flot.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.flot.pie.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.flot.resize.min.js"></script>
<link href="{$assets}/common/bootstrap/bootstrap3-dialog/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="{$assets}/common/bootstrap/bootstrap3-dialog/js/bootstrap-dialog.min.js"></script>

<!-- ace scripts -->
<script src="{$assets}/aceAdmin/js/ace-elements.min.js"></script>
<script src="{$assets}/aceAdmin/js/ace.min.js"></script>
<script src="{$assets}/common/layer3.02/layer.js"></script>
<script src="{$assets}/common/layui/layui.js"></script>

<!--时间控件-->
<link href="{$assets}/common/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="{$assets}/common/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script charset="utf-8" src="{$assets}/common/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<script type="text/javascript" charset="utf-8" src="/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor-1.4.3.3/ueditor.all.js"></script>


<!--<link href="{$assets}/common/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<script src="{$assets}/common/toastr/toastr.min.js"></script>-->

<!--/*图片上传控件-->
<link href="{$assets}/common/css/uploaders.css" rel="stylesheet" type="text/css" />
<script charset="utf-8" src="{$assets}/common/plupload/js/plupload.full.min.js"></script>
<script charset="utf-8" src="{$assets}/common/js/initUploaders.js"></script>
{if $dataTable==1}
<script src="{$assets}/aceAdmin/js/jquery.dataTables.min.js"></script>
<script src="{$assets}/aceAdmin/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="{$assets}/aceAdmin/js/dataTables.buttons.min.js"></script>
<script src="{$assets}/aceAdmin/js/buttons.flash.min.js"></script>
<script src="{$assets}/aceAdmin/js/buttons.html5.min.js"></script>
<script src="{$assets}/aceAdmin/js/buttons.print.min.js"></script>
<script src="{$assets}/aceAdmin/js/buttons.colVis.min.js"></script>
<script src="{$assets}/aceAdmin/js/dataTables.select.min.js"></script>
<script charset="utf-8" src="{$assets}/aceAdmin/dataTable.js"></script>
{/if}
<script src="{$assets}/aceAdmin/common.js"></script>
<script src="{$assets}/aceAdmin/ajax.js"></script>
<script src="{$assets}/aceAdmin/dailog.js"></script>
