{include file="public/header.html"}
		{include file="public/head.html"}

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>
			{include file="public/sidebar.html"}


			<div class="main-content">
				<div class="main-content-inner">
					{include file="public/breadcrumbs.html"}

					<div class="page-content">
						{include file="public/settingsBox.html"}

						

						<div class="row">
							<div class="col-xs-12">
								<div class="error-container">
									<div class="well">
										<h1 class="grey lighter smaller">
											
											<span class="blue">{$msg}</span>
										</h1>

										<hr>
										<h3 class="lighter smaller blue">请联系管理员!</h3>

										<div>
										</div>

										<hr>
										<div class="space"></div>

										<div class="center">
											<a href="javascript:history.back()" class="btn btn-grey">
												<i class="ace-icon fa fa-arrow-left"></i>
												返回
											</a>

											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html"}

		
	</body>
</html>
