{include file="public/header.html"}
		{include file="public/head.html"}

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>
			{include file="public/sidebar.html"}


			<div class="main-content">
				<div class="main-content-inner">
					{include file="public/breadcrumbs.html"}

					<div class="page-content">
						{include file="public/settingsBox.html"}

						<div class="page-header">
							<form action="" method="get" class="form-inline">
                            	<label class="inline">用户名：</label>
                            	<input type="text" class="form-control" name="username" value="{I('username')}"/>
                                
                                <select name="simoney" class="form-control">
                                    <option value="">全部</option>
                                    <option value="1">是</option>
                                    <option value="2">否</option>
                                </select>
                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
									<tr>
										<th class="center">
											<label class="pos-rel">
												<input type="checkbox"  class="ace check-all">
												<span class="lbl"></span>
											</label>
										</th>
                                        <th class="detail-col"></th>
										<th>用户名</th>
                                        <th>余额</th>
                                        <th class="hidden-480">级别</th>
                                        <th class="hidden-480">注册时间</th>
                                        <th class="hidden-480">最后登录时间</th>
										<th>操作</th>
									</tr>
									</thead>

									<tbody>
                                    {foreach from=$data key=k item=val}
									<tr>
										<td class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace ids" name="ids[]" value="{$val.uid}">
												<span class="lbl"></span>
											</label>
										</td>

										<td class="center">
											<div class="action-buttons">
												<a href="#" class="green bigger-140 show-details-btn" title="Show Details">
													<i class="ace-icon fa fa-angle-double-down"></i>
													<span class="sr-only">Details</span>
												</a>
											</div>
										</td>
										<td>{$val.username}</td>
										<td>{$val.leftmoney}</td>
										<td class="hidden-480">{$grade[$val.grade]}</td>
										<td class="hidden-480">{date('Y-m-d H:i:s', $val.addtime)}</td>
										<td class="hidden-480">
										{if !empty( $val.lasttime)}	{date('Y-m-d H:i:s', $val.lasttime)} {/if}
										</td>

										<td>
										
											<div class="hidden-sm hidden-xs action-buttons">	
                                                <a class="green edit" href="javascript:;" _url="{U('user/edit',['uid'=>$val.uid])}" _wh="700,550" title="编辑">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>

                                                <a class="red del" href="javascript:;" _url="{U('User/del',['uid'=>$val['uid'],'token'=>creatToken($val['uid'])])}" title="删除">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
											
                                            <div class="hidden-md hidden-lg">
												<div class="inline pos-rel">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
														<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
													</button>

													<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
														<li>
															<a href="javascript:;" class="tooltip-success edit" _url="{U('user/edit',['uid'=>$val.uid])}" _wh="700,550" title="编辑" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
															</a>
														</li>

														<li>
															<a href="javascript:;" class="tooltip-error del" _url="{U('User/del',['uid'=>$val['uid'],'token'=>creatToken($val['uid'])])}" title="删除" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>


									<tr class="detail-row">
													<td colspan="8">
														<div class="table-detail">
															<div class="row">
																<div class="col-xs-12 col-sm-2">
																	<div class="text-center">
																		<img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{$assets}/aceAdmin/images/avatars/profile-pic.jpg" />
																		<br />
																		<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
																			<div class="inline position-relative">
																				<a class="user-title-label" href="#">
																					<i class="ace-icon fa fa-circle light-green"></i>
																					&nbsp;
																					<span class="white">{$val.username}</span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="col-xs-12 col-sm-7">
																	<div class="space visible-xs"></div>

																	<div class="profile-user-info profile-user-info-striped">
																		<div class="profile-info-row">
																			<div class="profile-info-name"> Username </div>

																			<div class="profile-info-value">
																				<span>{$val.username}</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
										{/foreach}
									</tbody>
								</table>
                                <div class="pagin" >{$_page}</div>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html"}

		
	</body>
</html>
