<form class="form-horizontal " role="form" action="{U('banner/add')}" enctype="multipart/form-data">
<input type="hidden" value="{formhash()}" name="formhash"/>
<input type="hidden" value="{$data['img']}" name="fileup1"/>
<input type="hidden" value="{$id}" name="id"/>
	<!--<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<p class="form-control-static">email@example.com</p>
		</div>
	</div>-->
    <div class="form-group">
		<label class="col-sm-2 control-label">广告位</label>
		<div class="col-sm-4">
			<select class="form-control" name="data[pos]">
			<option value="">请选择</option>
			{foreach from=$pos key=k item=val}
                <option {if $data['pos'] eq $k} selected {/if}value="{$k}">{$val}</option>
            {/foreach}
		</select>
		</div>
	</div>
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">图片</label>
		<div class="col-sm-4">
			<button id="fileup1" class="btn btn-info browse_button" data-upload-url="{U('upload/banner')}" data-extensions="jpg,png,gif,bmp" data-max-size="5mb" data-base-url="">请选择图片</button>
            <div class="preview" style="padding-top:15px">
				<img style="max-width:120px; max-height:120px" {if $data['img']} src="{picSize($data['img'])}" {/if}/>
			</div>
            <div class="process none">
                <span class="filename"></span>
                <span class="filesize"></span>
                <span class="percent"></span>
            </div>
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">开始时间</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="data[startime]" readonly="readonly" id="start" value="{$data['startime']}"/>
		</div>
	</div>
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">结束时间</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="data[endtime]" readonly="readonly" id="end" value="{$data['endtime']}"/>
		</div>
	</div>
    
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">排序</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="data[o]" id="o" value="{$data['o']}"/>
		</div>
	</div>
    <div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">链接</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="data[url]" id="url" value="{$data['url']}"/>
		</div>
	</div>
    <!--<div class="form-group">
		<label for="" class="col-sm-2 control-label">是否锁定</label>
		<div class="col-sm-10">
			<label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox">
                <span class="lbl"></span>
            </label>
		</div>
	</div>-->
</form>
<style>
.toast-center-center {
   top: 50%;
   left: 50%;
   margin-top: -25px;
  margin-left: -500px;
 }
</style>
<script type="text/javascript">
/*toastr.options.positionClass = 'toast-center-center';
toastr.warning('请选择有效数据');*/
function backFuns(url,obj){
	alert(obj)
}
uploaders.initUploaders();
$('#start').datetimepicker({
   format: 'yyyy-mm-dd h:ii:ss',
	autoclose: true,
	//minView: 30,
	language : 'zh-CN',
	minuteStep:1,
	todayBtn: true,
	startView:2,
	startDate: new Date() 
});
$('#end').datetimepicker({
   	format: 'yyyy-mm-dd h:ii:ss',
	autoclose: true,
	//minView: 30,
	language : 'zh-CN',
	minuteStep:1,
	todayBtn: true,
	startView:2,
	startDate: new Date() 
});
</script>