{include file="public/header.html"}
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{
					ace.settings.loadState('main-container')
					}catch(e){
				}
			</script>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="page-header">
							<form action="" method="get" class="form-inline">
								{if showActionButton('banner/add')}
                            	<button type="button"  class="btn btn-info btn-sm show_dialog" _url="{U('banner/add')}">
                                添加
                            	</button>
								{/if}
                            	<label class="inline">Banner位：</label>
                                <select name="pos" class="form-control">
                                    <option value="">全部</option>
                                    {foreach from=$pos key=k item=val}
                                    <option {if G('pos') eq $k} selected {/if} value="{$k}">{$val}</option>
            						{/foreach}
                                </select>
                                <label class="inline">开始时间：</label>
                            	<input type="text" readonly class="form-control" name="startime" id="startime" value=""/>
                                <label class="inline">结束时间：</label>
                            	<input type="text" readonly class="form-control" name="endtime" id="endtime" value=""/>
                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
									<tr>
										<th class="center">
											<label class="pos-rel">
												<input type="checkbox"  class="ace check-all">
												<span class="lbl"></span>
											</label>
										</th>
										<th>图片</th>
                                        <th>广告位置</th>
                                        <th class="hidden-480">链接</th>
                                        <th class="hidden-480">开始时间</th>
                                        <th class="hidden-480">结束时间</th>
                                        <th>排序</th>
										<th>说明</th>
										<th>操作</th>
									</tr>
									</thead>

									<tbody>
                                    {foreach from=$data key=k item=val}
									<tr>
										<td class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace ids" name="ids[]" value="{$val.id}">
												<span class="lbl"></span>
											</label>
										</td>
										<td><img src="{picSize($val.img)}" class="img-thumbnail" style="max-width:160px; max-height:100px"/></td>
										<td>{$pos[$val.pos]}</td>
										<td class="hidden-480">{$val.url}</td>
										<td class="hidden-480">{if !empty( $val.startime)}{date('Y-m-d H:i:s', $val.startime)} {/if}</td>
										<td class="hidden-480">
										{if !empty( $val.endtime)}	{date('Y-m-d H:i:s', $val.endtime)} {/if}
										</td>
										<td>{$val.o}</td>
										<td>{$val.contens}</td>
										<td>
										
											<div class="hidden-sm hidden-xs action-buttons">	
                                                <a class="green show_dialog" href="javascript:;" _url="{U('banner/add',['id'=>$val.id])}" _wh="700,550" title="编辑">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>

                                                <a class="red del" href="javascript:;" _url="{U('banner/del',['id'=>$val['id'],'token'=>creatToken($val['id'])])}" title="删除">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
											
                                            <div class="hidden-md hidden-lg">
												<div class="inline pos-rel">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
														<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
													</button>

													<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
														<li>
															<a href="javascript:;" class="tooltip-success show_dialog" _url="{U('banner/add',['id'=>$val.id])}" _wh="700,550" title="编辑" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
															</a>
														</li>

														<li>
															<a href="javascript:;" class="tooltip-error del" _url="{U('banner/del',['id'=>$val['id'],'token'=>creatToken($val['id'])])}" title="删除" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>


										{/foreach}
									</tbody>
								</table>
                                <div class="pagin" >{$_page}</div>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


		{include file="public/footer.html"}
		</div><!-- /.main-container -->

		{include file="public/footerJs.html" isdate=1 isupfile=1}
<script type="text/javascript">
    jQuery(function ($) {
        $('#startime').datetimepicker({
           format: 'yyyy-mm-dd',//'yyyy-mm-dd hh:ii:ss'
            autoclose: true,
			//minView: 30,
			language : 'zh-CN',
			//minuteStep:1,
			todayBtn: true,
			//startView:2,
			//startDate: new Date()
        });
		$('#endtime').datetimepicker({
           format: 'yyyy-mm-dd',//'yyyy-mm-dd hh:ii:ss'
            autoclose: true,
			minView: 30,
			language : 'zh-CN',
			//minuteStep:1,
			todayBtn: true,
			startView:2,
			startDate: new Date() 
        });
    });
</script>
</body>
</html>
